<div class="category-section">
      <h2 class="category-header">Shop by Category</h2>
      <div class="cards">
        <div class="card">
          <img src="https://images.unsplash.com/photo-1561361513-2d000a50f0dc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1776&q=80" alt="">
          <h3 class="card-title">Fresh</h3>
        </div>
        <div class="card">
          <img src="" alt="">
          <h3 class="card-title">Household</h3>
        </div>
        <div class="card">
          <img src="" alt="">
          <h3 class="card-title">Dairy</h3>
        </div>
        <div class="card">
          <img src="" alt="">
          <h3 class="card-title">Beauty</h3>
        </div>
        <div class="card">
          <img src="" alt="">
          <h3 class="card-title">Hygiene</h3>
        </div>
        <div class="card">
          <img src="" alt="">
          <h3 class="card-title">Health</h3>
        </div>
  </div>
</div>
