<h1> Index Page <h1>

<div>
<%= link_to 'Create new listing', listings_new_path %>
</div>
<ul>
  <% @listings.each do |item| %>
    <li><%= link_to item.title, listing_path(item.id) %>
    <%= link_to 'Delete', listing_path(item), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></li>
  <% end %>
</ul>
