<div class="container">
  <%= link_to 'Create new listing', listings_new_path, class: 'btn' %>
  <div class="cards">
      <% @listings.each do |item| %>
        <div class="card">
          <img src="https://images.pexels.com/photos/5763198/pexels-photo-5763198.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
          <ul>
            <li class="listing-title"><%= link_to item.title, listing_path(item.id) %></li>
            <li class="price">$<%= item.price_per_day %> <small>AUD/day</small> </li>
            <%# <%= link_to 'Delete', listing_path(item), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          </ul>
        </div>
      <% end %>
  </div>
</div>
