<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <h1 class="header">Create a new listing<h1>

      <%= render "form", listing: @listing %>
    </div>
  </div>
</div>
