// Specific CSS for your home-page
.btn {
  background-color: #8c8634;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  padding: 10px 20px;
  margin: 20px 0;
}
