:root {
  --rust: #874A2C;
  --olive: #636033;
  --poppins: 'Poppins', sans-serif;
}

.form-horizontal {
  color: var(--olive);
  font-family: var(--poppins);
  font-size: 24px;
  font-weight: 500;

  .btn {
    background-color: #8c8634;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0;
    padding: 10px 20px;
  }
}

.header {
  color: #393724;
  font-family: var(--poppins);
  margin: 30px 0;
}

.form-label {
  font-size: 22px;
}

.form-input > div {
  margin-bottom: 30px;
}
