body {
  font-family: 'Poppins', sans-serif;
}

.cards {
  padding-bottom: 35px;
}

.card {
    list-style: none;
    margin: 0;
  }

  a {
    color: $olive;
    display: inline-block;
    text-decoration: none;
  }

.price {
  font-size: 16px;
  font-weight: 600;
  padding-top: 10px;
}

.price small {
  font-weight: 400;
}

.listing-title {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  padding: 15px;
}

.card:hover {
  .listing-title {
    color: $rust;
  }
}


.truncate {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  visibility: visible;
  word-wrap:break-word;
}
