@import url('https://fonts.googleapis.com/css2?family=Circular&display=swap');


/* the listing */

.flex-container {
  align-items: center;
  align-content: center;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-around;
}

.listing {
  background-color: #f7f6dd;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 5px;
  max-width: 800px;
  margin: 50px 50px 30px;
  padding: 30px;

  img {
    border-radius: 7px;
    height: auto;
    object-fit: cover;
  }

}

.listing h1 {
  color: #6E2C00;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  margin-bottom: 20px;

}

.listing p {
  color: #556b2f;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.listing .actions {
  margin-top: 30px;
}

/* the buttons */
.listing a {
  border: 1px solid #4A4A4A;
  border-radius: 5px;
  color: #784212;
  font-weight: light;
  margin-right: 30px;
  opacity: 0.6;
  padding: 8px 24px;
  transition: opacity 0.3s ease;
}

.listing a:hover {
  opacity: 1;
}

.listing .price {
  font-weight: bold;
}

.listing .contact {
  font-weight: bold;
  margin-top: 20px;
}

.booking-card {
  background-color: #f7f6dd;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 5px;
  padding: 50px;
  text-align: center;

  a {
    background-color: #a15b38;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    margin: 0 30px;
    opacity: 1;
    padding: 12px 40px;
  }

  p {
    font-size: 14px;
    opacity: 0.6;
    padding-top: 30px;
  }
}
