<h1>Add a review</h1>

<%= simple_form_for [@listing, @review] do |f| %>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control", rows: 5 %>
  </div>

  <div class="actions">
    <%= f.submit "Submit review", class: "btn btn-primary" %>
  </div>
<% end %>
