#booking_booking_date {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
}

.book-img {
  margin-top: 20px;
}

.book-btn {
    background-color: #8c8634;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0 0 15px;
    padding: 10px 20px;
}

.book-listing {
  max-width: 900px;
}
